@font-face {
  font-family: custom;
  src: url(./fonts/Aclonica-Regular.ttf);
}
@font-face {
  font-family: custom2;
  src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: custom3;
  src: url(./fonts/Exo2-Bold.ttf);
}
body{
  padding: 0;
  margin: 0;
  background-color: rgb(228, 228, 228);
  overflow-x: hidden;
}
