.workMainDiv {
    width: 100%;
    padding: 30px 0;
    padding-bottom: 100px;
    overflow: hidden;
}

.workSecondDiv {
    width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
}

.workHeadDiv {
    width: 220px;
    margin: 0 auto;
}

.workHead {
    color: rgb(204, 139, 0);
    text-align: center;
    line-height: 0;
    font-size: 40px;
    font-family: custom3;
}

.workHeadUnderlineMianDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    margin: 0 auto;
}

.workHeadUnderline {
    /* border-radius: 10px; */
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 100px solid rgb(20, 0, 35);
    border-bottom: 8px solid transparent;
    margin-right: -10px;
}

.workHeadUnderline2 {
    /* border-radius: 10px; */
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 100px solid rgb(20, 0, 35);
    border-bottom: 8px solid transparent;
    margin-left: -10px;
}

.workHeadUnderlineCircle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(20, 0, 35);
}

.workBlock {
    margin-top: 90px;
}

.workImages {
    width: 100%;
    height: 100%;
    transition-property: all;
    transition-duration: .5s;
}

.workItems {
    border-radius: 30px !important;
    background-color: transparent !important;
    padding: 0 !important;
    overflow: hidden;
    line-height: 0 !important;
    box-shadow: 0 0 40px rgb(107, 107, 107) !important;
    position: relative;
}

.workItems:hover .workImages {
    filter: blur(6px);
    -webkit-filter: blur(6px);
    /* transform: scale(1.3); */
}

.cardHeading {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 30px;
    font-family: custom;
    color: white;
    z-index: 10;
    width: 50%;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.534);
    text-transform: uppercase;
    padding: 10px;
    border: 7px solid rgb(204, 139, 0);
    transition-property: all;
    transition-duration: .5s;
}

.workItems:hover .cardHeading {
    opacity: 0;
    margin-top: -150px;
}

.workItemsExtraDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 0, 37, 0.726);
}

.visitingDiv {
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
    width: 50%;
    transition-property: all;
    transition-duration: .6s;
}

.workItems:hover .visitingDiv {
    left: 50%;
    opacity: 1;
}

.visitingDiv button {
    text-align: left;
    width: 100%;
    padding: 10px 30px;
    font-size: 23px;
    font-family: custom3;
    border: none;
    background-color: rgba(204, 139, 0, 0.527);
    color: rgb(0, 0, 0);
    font-weight: 900;
    border-radius: 0 30px 30px 0;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    margin-top: 4px;
    cursor: pointer;
}

.visitingDiv button:hover {
    background-color: rgba(204, 139, 0, 0.726);
}

.websiteIcon {
    margin-left: 10px;
    font-size: 30px;
}

@media (max-width:1200px) {
    .workSecondDiv {
        width: 70%;
        margin-top: 70px;
    }
}

@media (max-width:700px) {
    .workSecondDiv {
        width: 96%;
        margin-top: 70px;
    }
    .cardHeading {
        font-size: 20px;
        padding: 5px;
        line-height: 30px;
        border: 5px solid rgb(204, 139, 0);
    }
    .visitingDiv {
        width: 60%;
    }
    .visitingDiv button {
        padding: 5px 10px;
        font-size: 16px;
        font-weight: 700;
        border-radius: 0 20px 20px 0;
    }
    .websiteIcon {
        font-size:25px;
    }

}
